<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %} {% endblock %} | fasosGIS</title>
    
    {% block head %} {% endblock %}

    <!-- Bootstrap CDN
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"> -->

    <!-- LEAFLET CDN
      <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"> -->

    {% load static %}

    <!-- BOOTSTRAP STATIC -->
      <link rel="stylesheet" href="{% static 'bootstrap-5.2.3/dist/css/bootstrap.css'%}">

    <!-- LEAFLET STATIC -->
      <link rel="stylesheet" href="{% static 'leaflet-1.9.4/leaflet.css' %}">

        <!-- Include leaflet Mouse Position -->
        <link rel="stylesheet" href="{% static 'Leaflet.MousePosition/src/L.Control.MousePosition.css' %}">
        <!-- Include leaflet Pan Control-->
        <link rel="stylesheet" href="{% static 'Leaflet.Pancontrol/src/L.Control.Pan.css' %}">
        <!-- Include Leaflet CSS Zoom Bar -->
        <link rel="stylesheet" type="text/css" href="{% static 'L.Control.ZoomBar/src/L.Control.ZoomBar.css' %}">
        <!-- Load Leaflet CSS Zoom Slider -->
        <link rel="stylesheet" href="{% static 'Leaflet.zoomslider/src/L.Control.Zoomslider.css' %}">
        <!-- Include leaflet Control Minimap --> 
        <link rel="stylesheet" href="{% static 'Leaflet-MiniMap/src/Control.MiniMap.css' %}">


    <!-- DATA TABLES CDN -->
        <link rel="stylesheet" href="https://cdn.datatables.net/2.0.0/css/dataTables.bootstrap5.min.css" />

    <!-- FONT CDN -->
    <link href="https://fonts.cdnfonts.com/css/sofia-sans" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
                

  </head>

  <body class="container-fluid">
    {% include 'context/navbar.html' %}
    <!-- BOOSTRAP CDN
       <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.js"></script>
       <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script> -->

    <!-- LEAFLET CDN
      <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script> -->

    <!-- BOOTSTRAP STATIC -->
      <script src="{% static 'bootstrap-5.2.3/dist/js/bootstrap.js'%}"></script>
      <script src="{% static 'bootstrap-5.2.3/dist/js/bootstrap.bundle.min.js'%}"></script>

    <!-- LEAFLET STATIC -->
      <script src="{% static 'leaflet-1.9.4/leaflet.js' %}"></script>
        <!-- Load Leaflet Javascript Mouse Position -->
        <script src="{% static 'Leaflet.MousePosition/src/L.Control.MousePosition.js' %}"></script>
        <!-- Load Leaflet Javascript Pan Control -->
        <script src="{% static 'Leaflet.Pancontrol/src/L.Control.Pan.js' %}"></script>
        <!-- Load Leaflet Javascript  Plugin Zoom Bar -->
        <script type="text/javascript" src="{% static 'L.Control.ZoomBar/src/L.Control.ZoomBar.js' %}"></script>
        <!-- Load Leaflet Javascript Zoom Slider -->
        <script src="{% static 'Leaflet.zoomslider/src/L.Control.Zoomslider.js' %}"></script>
        <!-- Load Leaflet Javascript Plugin-Control Minimap -->
        <script src="{% static 'Leaflet-MiniMap/src/Control.MiniMap.js' %}"></script>



    <!-- DATA TABLES CDN -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js"></script>
    <script src="https://cdn.datatables.net/2.0.0/js/dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/2.0.0/js/dataTables.bootstrap5.min.js"></script>

    <script>
        $(document).ready( function () {
            $('#myTable').DataTable();
        } );
    </script>


    {% block body %} {% endblock %}

    <!-- MAP HOME -->
      <script src="{% static 'custom/js/map-home.js'%}"></script>
      {% include 'context/map-home.html' %}
      <script src="{% static 'custom/js/plugins.js'%}"></script>

    {% include 'context/footer.html' %}
  </body>
</html>