<nav class="navbar navbar-expand-lg navbar-light bg-custom">
<div class="container-fluid">
    <a id="navbar-title" class="navbar-brand" href="{% url 'home' %}"><img src="/media/base/Lambang_Daerah_Kabupaten_Tangerang.png" alt="Main Logo" width="50" height="60">SIMFOSIS</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
<!-- Left Side -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active navbar-text" aria-current="page" href="{% url 'home'%}">Beranda</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle navbar-text" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Fasilitas yang dikelola
          </a>
          <ul class="dropdown-menu navbar-text" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="{% url 'medical_facility_list'%}">Fasilitas Kesehatan</a></li>
            <li><a class="dropdown-item" href="{% url 'local_government_office_list'%}">Perangkat Daerah</a></li>
            <li><a class="dropdown-item" href="{% url 'cctv_etle_list'%}">Fasilitas Perangkat Keamanan - CCTV</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link navbar-text" href="{% url 'routing_machine' %}">Pencari Rute</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle navbar-text" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            API
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="{% url 'standart_faskes_api'%}">Fasilitas Kesehatan</a></li>
            <li><a class="dropdown-item" href="{% url 'standart_opd_api'%}">Perangkat Daerah</a></li>
            <li><a class="dropdown-item" href="{% url 'standart_cctv_etle_api'%}">Perangkat Keamanan Jaringan - CCTV</a></li>
            <li><a class="dropdown-item" href="#">Batas Kecamatan Kabupaten Tangerang</a></li>
          </ul>
        </li>
      </ul>
    </div>
<!-- Right Side -->
    <div class="d-flex navbar-text" id="navbarSupportedContent" >
        {% if request.user.is_authenticated %}
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a href="{% url 'logout' %}" class="btn btn-custom-danger">Logout</a>
          </li>
          <li class="nav-item">
            <a href="#" class="btn btn-custom">{{request.user}}</a>
          </li>
        </ul>
        {% else %}
        <a href="{% url 'login' %}" type="button" class="btn btn-custom-whitesmoke">Login</a>
        {% endif %}
    </div>
</div>

</nav>