<nav class="navbar navbar-light bg-light">
<div class="container-fluid">
    <!-- Left Side -->
        <div>
        <a class="navbar-brand" href="{% url 'home' %}">
            <img src="/media/base/Lambang_Daerah_Kabupaten_Tangerang.png" alt="Main Logo" width="50" height="60">
        </a>
        </div>
    <!-- Center Side -->
        <div>
        <a href="" class="btn">Beranda</a>
        <a href="" class="btn">Fasilitas yang Dikelola</a>
        <a href="" class="btn">Tentang Kami</a>
        </div>
    <!-- Right Side -->
        <div>
            
        </div>
</nav>