/* CONTAINER HOME */

@import url('https://fonts.cdnfonts.com/css/sofia-sans');
                
#peta {
    height :600px;
}
.container {
    padding-top: 30px;
}
.row {
    padding-top: 20px;
}
* {
    font-family: 'Sofia Sans', sans-serif;       
}