{% extends 'context/base.html' %} 
{% block title %}
    Home
{% endblock %} 
{% block head %}

    {% load static %}

    <link rel="stylesheet" href="{% static 'custom/css/style.css'%}">
    <link rel="stylesheet" href="{% static 'custom/css/style-mw-700.css'%}">
    <link rel="stylesheet" href="{% static 'custom/css/style-mw-900.css'%}">

{% endblock %} 
{% block body %}
    <div class="container">
        <h1>Dashboard Infrastruktur</h1>
        <p>Berisi Informasi Persebaran Fasilitas Sosial dan Fasilitas Umum di Kabupaten Tangerang </p>
        <div id="peta">Tampilan Peta</div>
    </div>

    {% include 'context/map-home.html' %}
    <script src="{% static 'custom/js/map-home.js'%}"></script>
{% endblock %}
