{% extends 'context/base.html' %}
{% load leaflet_tags %}
{% load crispy_forms_tags %}

{% block title %}
    Pembaharuan Kantor Perangkat Daerah
{% endblock %}

{% block head %}
   {% leaflet_css plugins="forms" %}
{% endblock %}

{% block body %}
    <div class="container">
        <h1>Memperbaharui Kantor Perangkat Daerah</h1>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form | crispy }}
            <input type="submit" class="btn btn-success"/>
        </form>
    </div>
    {% leaflet_js plugins="forms" %}
{% endblock %}
